@font-face {
  font-family: "iconfont"; /* Project id 3870568 */
  src: url('//at.alicdn.com/t/c/font_3870568_l235nj3943b.woff2?t=1676273599188') format('woff2'),
       url('//at.alicdn.com/t/c/font_3870568_l235nj3943b.woff?t=1676273599188') format('woff'),
       url('//at.alicdn.com/t/c/font_3870568_l235nj3943b.ttf?t=1676273599188') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e623";
}

.icon-zhanghu:before {
  content: "\e610";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-gongju:before {
  content: "\e621";
}

.icon-UIicon_xiaoxi-:before {
  content: "\e61d";
}

.icon-UIicon_yonghu-:before {
  content: "\e620";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github:before {
  content: "\e66f";
}
